@charset "utf-8";
/*---全体のスタイル ------------------------------*/
* {
  box-sizing: border-box;
}

body {
  color: #454545;
}

/* 画面幅 */
#wrapper {
  width: 90%;
  margin:0 auto;
}

/* リンクのスタイルを初期化 */
a:link,
a:visited,
a:hover, 
a:active {  
    text-decoration: none;  
    color: #454545;  
} 

/* リストの点を消す */
li {
  list-style: none;
}

/* ボタンのカーソル設定 */
.btn {
  cursor: pointer;
}

/* ボタンのスタイルをリセット */
button {
	background: none;
	border: none;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
  border: 1px solid black;
}

/* ---ヘッダー共通部分 -------------------------------*/

/* メインヘッダー */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ヘッダー左側部分 */
#header_left {
  margin-left: 24px;
}

/* ヘッダー 左側 h1*/
#header_left h1 {
  font-size: 42px;
}

/* ヘッダー右側部分 */
#header_right {
  margin-right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* トップリンクボタン部分 */
#top_btn {
  text-align: center;
  line-height:32px;
  width: 60px;
  background-color: #454545;
  border-radius: 10px;
  color: #fff;
  margin-right: 24px;
}

.fa-bars {
  font-size: 56px;
}

/* ---ハンバーガーメニュー -----------------------------*/

/* メニューの背景部分 */
#mask {
  width: 100%;
  height: 1800px;
  position: fixed;
  background-color: rgba(0,0,0, 0.5);
  z-index: 10;
}

/* 閉じる右向きマーク */
.fa-angle-double-right {
  font-size: 56px;
  position: absolute;
  right: 350px;
  color: #fff;
}

/* メニュー部分 */
#menu_contents {
  background-color:#fff;
  position: absolute;
  width: 320px;
  height: 1000px;
  right: 0;
  z-index: 11;
}

/* メニュー内プロフィール画像とユーザー名表示部分 */
#my_acount {
  margin: 48px auto;
  text-align: center;
}

/* メニュー内プロフィール画像 */
.profile_img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit:cover;
}

/* ユーザー名表示部分 */
#user_name {
  margin-top: 12px;
  font-weight: bold;
  font-size: 24px;
}

/* メニュー部分 */
#menu_list {
  text-align: center;
}

/* メニューリスト項目部分 */
#menu_list li {
  margin-top: 24px;
}

/* ログアウトボタン部分 */
#logout_section {
  margin-top: 48px;
  display: flex;
  justify-content: center;
}

/* メニュー内ログアウトボタン */
#logout_btn {
  text-align: center;
  line-height:56px;
  width: 200px;
  background-color: #006fbe;
  color: #fff;
  border-radius: 10px;
}

/* ----main.php トップ画面 ----------------------------------*/

/* 追加ボタン部分 */
#top_btn_section {
  margin-top: 24px;
  margin-bottom: 24px;
}

/* データ入力画面へのリンクボタン */
#add_btn {
  text-align: center;
  line-height:32px;
  width: 100px;
  background-color: #006fbe;
  border-radius: 10px;
  color: #fff;
}

/* 検索部分 */
#search_section {
  margin-bottom: 24px;
}

/* 日付リスト部分 */
.date_txt {
  font-size: 24px;
  color: #454545;
  margin-bottom: 12px;
}

/* ---profile_view.php -----------------------------------*/

/* プロフィール写真表示部分 */
#img_section {
  margin-top: 56px;
}

/* プロフィール写真 */
.my_img {
  width: 250px;
  height: 250px;
  object-fit:cover;
}

/* プロフィール詳細表示部分 */
#profile_section{
  margin-top: 24px;
}

/* ユーザー名 */
#profile_section h1{
  font-size: 48px;
  margin-bottom: 24px;
}

/* tableの見出しを左寄せ */
#profile_section th,
#gear_section th,
#camera_section th {
  text-align: left;
}

/* tdの左側のスペースを調節 */
#profile_section td,
#gear_section td,
#camera_section td {
  padding-left: 24px;
}

/* 器材表示部分 */
#gear_section {
  margin-top:24px ; 
}

/* 器材表示タイトル */
#gear_section h1{
  margin-bottom:24px ;
}

/* カメラ表示部分 */
#camera_section {
  margin-top:24px ; 
}

/* カメラ表示タイトル */
#camera_section h1 {
  font-size: 24px;; 
}

/* 編集ボタンの配置 */
#edit_btn_section {
  display: flex;
  justify-content: flex-start;
  flex-direction:column;
  margin-top: 32px;
}

/* 編集ボタンのスタイル */
.edit_btn {
  text-align: center;
  line-height:40px;
  width: 200px;
  background-color: #006fbe;
  border-radius: 10px;
  margin-bottom: 12px;
}

/* 編集ボタン内テキスト */
.edit_btn div {
  color: #fff;
}

/* プロフィール編集入力モーダル */

/* 背景 */
#img_mask {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0,0,0, 0.5);
  z-index: 12;
}

/* モーダル閉じるボタン */
.fa-times {
  color: #fff;
  font-size: 56px;
  margin-top: 56px;
  margin-left: 56px;
}

/* 画像選択フォーム */
#img_upload_inner {
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 350px;
  height: 500px;
  z-index: 13;
  text-align: center;
  padding:24px;
}

/* 画像変更ボタン */
#img_upload_btn {
  text-align: center;
  line-height:40px;
  width: 200px;
  background-color: #006fbe;
  color:#fff;
  border-radius: 10px;
  margin-top: 48px;
}


/* ---log_input.php  ログ入力画面-------------------------*/


/* データ入力部分 */
#log_input_section {
  margin-top: 80px;
  margin-bottom: 24px;
}

#log_input_section input {
  height: 32px;
  width: 180px;
  margin-right: 24px;
  font-size: 16px;
}

#log_input_section textarea {
  width: 400px;
  height: 200px;
}

#log_input_section button {
  height: 32px;
}

/* データ登録ボタン*/
#log_add_btn {
  margin-top: 24px;
}


/* ---life_input.php 生物データ入力画面------------------*/

/* 生物情報入力欄 */
#life_input_section {
  padding: 32px;
}

/* 生物情報登録ボタン */
#life_input_btn {
  margin-top:24px;
}

/* 生物画像選択部分 */
#select_img {
  display: flex;
  justify-content: flex-start;
  flex-direction:column;
}

/* 生物画像インプット部分 */
#select_img input {
  margin-top: 12px;
  margin-bottom: 12px;
}

/* 選択した画像の表示部分 */
#demo_img {
  width: 200px;
  height: 150px;
  object-fit:cover;
}

/* キャンバス部分 */
#canvas_contents{
  margin-top: 100px;
}

/* ---------view.php 魚データ出力ページ --------------------*/

#title_section {
  margin-bottom: 32px;
}

/* 日付表示部分 */
#date_title {
  font-size: 32px;
}

/* 水温表示部分 */
#temp_title {
  font-size: 24px;
}

/* 魚表示部分 */
.fish_contents {
  margin-bottom: 24px;
}

/* 魚表示部分 */
.fish_name {
  font-weight: bold;
  font-size: 24px;
}

/* --------infomation.php 図鑑ページ------------------------------*/

/* 図鑑ページ表示部分 */
#infometion_section {
  margin-top: 48px;
}

/* 図鑑ページの魚名 */
#fish_title {
  font-size:48px;
}